body{
        background-color: #fde6d1 ;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header img{
width:100px;
height: 110px;
}
header{
    padding:40px 20px;
   display:flex;
   align-items: center;
   justify-content: space-around;
   box-shadow: 0 10px 5px 0 black;
}
header a{
    text-decoration:none;
    margin: 0px 10px;
    padding: 5px 10px;
    background-color: #DEAC80;
    border-radius: 15px;
    transition:.4s;
    color:#F7DCB9;
}
header a:hover{
    background-color:#F7DCB9;
    color:#DEAC80;
    transition:.4s;
}
.coffe{
    position: relative;
    background-image:linear-gradient(#ffe2c5,#ffdeaf,#e5f1ba);
    height: 100%;
}
.infowe{
    text-align: center;

}
.infowe a{
    text-decoration: none;
    color:#B99470;
    background-color:#ffeeda;
    border-radius: 10px;
    padding: 5px 10px;
}
h1{
    color:#5e4d39;
margin-bottom: 10px;
}

   .infowe a:hover{
    background-color:#e7f0c9;
    transition: .7s;
    color:#B5C18E;
   }
footer{
    color:#ddab7f;
    margin: 30px;
}
main img{
    width: 90px;
    height: 95px;
    margin: 10px;
  
}
.gallery{
    padding-top: 50px;
    text-align: center;
}
.gallery img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.gallery img{
    transition: 0.5s;
    
}
.map{
    padding: 50px;
    background-color:#e5f1ba;
}

.Location{
    text-align: center;
    color:#8a6f50;
    margin-top: 40px;

}
.top{
    color: #8a6f50;
    text-align: center;
  
}
.item{
    background-image: url("https://i.pinimg.com/236x/b8/5d/d0/b85dd0f770648244f996e9387ea353c6.jpg");
 background-size: cover;
    width: 250px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.item2{
    background-image: url("https://i.pinimg.com/236x/76/d1/f8/76d1f8ab39fb41bc2a396bdc693b4921.jpg");
 background-size: cover;
    width: 250px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.item3{
    background-image: url("https://i.pinimg.com/236x/7b/bb/cc/7bbbcc910f33c80a830a64684d73872b.jpg");
 background-size: cover;
    width: 250px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.infocoffe{
    text-align: center;
    background-color: #fde6d1 ;
    color: #825454                                          ;

}
.histocoffe{
    color: #6a5742;
}
.deserty{
text-align: center;
}

.shop-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-item div a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.shop-item div{
    text-align: center;
}
